<div class="block">
  <h2><a name="top">Weights Help</a></h2>
  <ul>
    <li><a href="#a1">How do I add a new weight?</a></li>
    <li><a href="#a2">How do I edit an existing weight?</a></li>
    <li><a href="#a3">How do I delete an entered weight?</a></li>
    <li><a href="#a4">Why can I only add one weight a day?</a></li>
  </ul>
</div>

<div class="block">
  <h2><a name="a1">How do I add a new weight?</a></h2>
  <p>First, make sure you're on the correct day. Then either select
     &quot;Add Weight&quot; from the weights menu:<br />
     <%= image_tag('help/weights-menu-add.jpg', :alt => 'Adding a new weight', :class => 'help') %><br />
     or click &quot;Add weight&quot; next to the correct date in the main weights list:<br />
     <%= image_tag('help/weights-list-new.jpg', :alt => 'Adding a new weight', :class => 'help') %><br />
     This takes you to a page where you can enter your stone and lbs values, or your kg value:<br />
     <%= image_tag('help/weights-new.jpg', :alt => 'Adding a new weight', :class => 'help') %><br />
     Once you have entered your weight, click &quot;Save&quot;, and you will be taken back to the weights list.
  </p>
  <%= top_link %>
</div>

<div class="block">
  <h2><a name="a2">How do I edit an existing weight?</a></h2>
  <p>There are two ways of editing a weight.</p>
  <ol>
    <li>Make sure you're on the correct day for the weight you want to edit, then click &quot;Edit Weight&quot;
        from the weights menu: <br />
        <%= image_tag('help/weights-menu-edit.jpg', :alt => 'Editing a weight', :class => 'help') %></li>
    <li>Click the image in the edit column next to the weight that you want to edit:<br />
        <%= image_tag('help/weights-list-edit.jpg', :alt => 'Editing a weight', :class => 'help') %></li>
  </ol>
  <p>You can now change the entered weight:<br />
     <%= image_tag('help/weights-edit.jpg', :alt => 'Editing a weight', :class => 'help') %><br />
     Click &quot;Save&quot; and you will be taken back to the weights list.
  </p>
  <%= top_link %>
</div>

<div class="block">
  <h2><a name="a3">How do I delete an entered weight?</a></h2>
  <p>Click the image in the delete column next to the weight that you want to delete:<br />
     <%= image_tag('help/weights-list-delete.jpg', :alt => 'Deleting a weight', :class => 'help') %><br />
     You'll be asked if you are sure you want to delete the weight. If you are sure then click
     &quot;OK&quot; and you will be taken back to the weights list.
  </p>
  <%= top_link %>
</div>

<div class="block">
  <h2><a name="a4">Why can I only add one weight a day?</a></h2>
  <p>The reason why you can only one weight measurement per day is because your weight fluctuates
     throughout the day. Ideally you should weigh yourself at the same time as the last time you
     weighed yourself. For example, you wake up in the morning, go to the toilet, then weigh yourself.
     Another example is weighing yourself at the same time in the evening before going to bed. This
     will try to ensure that the reading you take is the most accurate. Obviously even this will not
     be totally accurate as your weight can also vary drastically each day.
  </p>
  <%= top_link %>
</div>