<% day_counts(date) -%>
<div class="day<%= ' today' if date == today -%><%= extra if defined?(extra) -%>">
  <div class="data">
    <span class="number"><%= link_date(date, 'calendar', day) -%></span>
    <div>
<% if @weights > 0 -%><%= link_date(date, 'weights', image_tag('weights-ball.gif', :alt => 'Weight entry', :title => 'Weight entry')) -%><% end -%>
<% if @measurements > 0 -%><%= link_date(date, 'measurements', image_tag('measurements-ball.gif', :alt => "Measurements: #{@measurements}", :title => "Measurements: #{@measurements}")) -%><% end -%>
<% if @meals > 0 -%><%= link_date(date, 'meals', image_tag('meals-ball.gif', :alt => "Meals: #{@meals}", :title => "Meals: #{@meals}")) -%><% end -%>
    </div>
  </div>
</div>
