<div class="block">
<h2>Your Dashboard</h2>
<%= print_flash(flash[:error], 'error', 'Error') -%>
<%= print_flash(flash[:info], 'info') -%>
<%= print_flash(flash[:openidlink_error], 'error', 'OpenID Error') -%>
<%
messages = []
if @new_openid_links and @new_openid_links.size > 0
  for link in @new_openid_links do
    openidlink = "<span>#{normalise_url(link.openid_url)} wants to link their account to yours. Please "
    openidlink << link_to('confirm', openid_link_path(link), :method => :put)
    openidlink << ' or '
    openidlink << link_to('deny', openid_link_path(link), :method => :delete)
    openidlink << ' the link.</span>'
    messages << openidlink
  end
-%>
<%= print_flash(messages, 'openid', 'Linked Accounts') -%>
<% end -%>
<p>Welcome to your dashboard. The data displayed below is an overview of your latest entries, if you have entered any.</p>
</div>
<div class="block">
<%= render :partial => 'weights_list', :locals => {:target_weight => @target_weight, :current_weight => @current_weight,
  :units => @current_user.weight_units, :today => @today} -%>
<%= render :partial => 'measurements_list', :locals => {
  :measurements => @measurements, :measurements_date => @measurements_date, :today => @today} -%>
</div>
