<div id="menu">
<% if @current_user -%>
  <ul>
    <li><%= link_to('Dashboard', dashboard_path) -%></li>
    <li><%= link_to('Weights', weights_path) -%>
      <ul>
        <li><%= link_to('View Weights', weights_path) -%></li>
        <li><%= link_to('New Weight', new_weight_path) -%></li>
      </ul>
    </li>
    <li><%= link_to('Measurements', measurements_path) -%>
      <ul>
        <li><%= link_to('View Measurements', measurements_path) -%></li>
        <li><%= link_to('New Measurement', new_measurement_path) -%></li>
      </ul>
    </li>
    <li><%= link_to('Meals', meals_path) -%>
      <ul>
        <li><%= link_to('View Meals', meals_path) -%></li>
        <li><%= link_to('New Meal', new_meal_path) -%></li>
        <li><%= link_to('View Foods', foods_path) -%></li>
        <li><%= link_to('New Food', foods_path) -%></li>
      </ul>
    </li>
    <li><%= link_to('Exercise', meals_path) -%>
      <ul>
        <li><%= link_to('View Exercises', meals_path) -%></li>
        <li><%= link_to('New Exercise', new_meal_path) -%></li>
        <li><%= link_to('View Activities', foods_path) -%></li>
        <li><%= link_to('New Activity', foods_path) -%></li>
      </ul>
    </li>
    <% if @current_user.admin -%>
    <li><%= link_to('Admin', admin_path) -%></li>
    <% end -%>
  </ul>
<% else -%>
  <ul class="home">
    <li><%= link_to('Welcome', home_path) -%></li>
    <li><%= link_to('News', news_path) -%></li>
    <li><%= link_to('Tour', tour_path) -%></li>
    <li><%= link_to('About', about_path) -%></li>
    <li><%= link_to('Signup', signup_path) -%></li>
  </ul>
<% end -%>
</div>
