      <tr class="weight-data<% if current_date == weight.taken_on %> today<% else %> <%= cycle('odd', 'even') -%><% end %>">
        <td class="date"><%= link_date(weight.taken_on, 'weights') %></td>
        <td class="weight"><%= weight.format(@current_user.weight_units) %></td>
        <td class="difference"><%= weight_difference(@current_user.weight_units, weight.difference) %></td>
        <td class="edit"><%= link_to(image_tag('/images/edit.gif'), edit_weight_url(weight)) %></td>
        <td class="delete"><%= link_to(image_tag('/images/delete.gif'), destroy_weight_url(weight), :class => 'delete') %></td>
      </tr>
