      <tr>
        <td class="admin-news-date"><%= format_date(news.posted_on) %></td>
        <td class="admin-news-title"><%= h(news.title) %></td>
        <td class="admin-news-body"><%= h(news.body) %></td>
        <td class="edit"><%= link_to(image_tag('/images/edit.gif'), edit_admin_news_url(news)) %></td>
        <td class="delete"><%= link_to(image_tag('/images/delete.gif'), destroy_admin_news_url(news), :class => 'delete') %></td>
      </tr>