<div class="block">
  <h2><%= h(@meal.name) -%></h2>
  <%= print_flash(flash[:error], 'error', 'Error') -%>
  <p>Would you like to <%= link_to 'add a food', new_meal_food_item_path(@meal) -%> to your meal?</p>
  <table id="meals">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Calories</th>
      <th>Remove</th>
    </tr>
    <%= render(:partial => 'food_item', :collection => @meal.food_items) %>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td class="total-calories number"><strong><%= @meal.total_calories -%></strong></td>
      <td></td>
    </tr>
  </table>
</div>
