    <td class="name"><%= h(food.name) -%></td>
    <td class="description"><%= h(food.description) -%></td>
    <td class="manufacturer"><%= h(food.manufacturer) -%></td>
    <td class="weight"><%= h(food.weight) -%></td>
    <td class="calories"><%= food.calories -%></td>
