    <td class="name"><%= h(food.name) -%></td>
    <td class="description"><%= h(food.description) -%></td>
    <td class="manufacturer"><%= h(food.manufacturer) -%></td>
    <td class="weight"><%= h(food.weight) -%></td>
    <td class="fat"><%= food.fat -%>g</td>
    <td class="protein"><%= food.protein -%>g</td>
    <td class="carbs"><%= food.carbs -%>g</td>
    <td class="calories"><%= food.calories -%></td>