<div class="block">
  <h2>Foods</h2>
<%= print_flash(flash[:error], 'error') -%>
<%= print_flash(flash[:info], 'info') -%>
<% if @foods.size > 0 -%>
  <p>You have <%= pluralize(@foods.size, 'food') %>. Would you like to <%= link_to('add another', new_food_url) %>?</p>
</div>
<div class="block">
  <table class="foods-list">
<%= render(:partial => 'foods_header') -%>
<%= render(:partial => 'food', :collection => @foods) -%>
  </table>
  <%= will_paginate(@foods) -%>
<% else -%>
  <p>You have not entered any foods yet. Before adding items to a meal you will need to add some foods.</p>
  <div id="foods_form">
    <% form_for(@food) do |f| %>
      <%= render(:partial => 'food_form', :locals => {:f => f, :action => 'Add'}) -%>
    <% end %>
  </div>
<% end -%>
</div>
