    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= h(activity.name) %></td>
      <td><%= h(activity.description) %></td>
      <td><%= h(activity.type) %></td>
      <td><%= pluralize(activity.duration, 'minute') %></td>
      <td class="number"><%= activity.calories %></td>
      <td class="edit"><%= link_to(image_tag('/images/edit.gif'), edit_activity_url(activity)) %></td>
      <td class="delete"><%= link_to(image_tag('/images/delete.gif'), destroy_activity_url(activity), :class => 'delete') %></td>
    </tr>
